<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/sheet.css">
    <title>{{sheet.name}} - Level {{sheet.level}} {{sheet.class}} -- D&D Sheet on the Dragon's Hoard</title>
</head>
<!--<p> This will be another form at some point later that live-saves your sheet information into each field! In the
    meantime, you have the following to look at!</p>!-->

<script src="/javascript/scripts.js"></script>
<script type="text/javascript">
    // Set the correct values for all the select objects when the page loads.
    function updateSelects() {
        // Saving Throws
        document.querySelector('#str-proficiency').value = '{{sheet.saves.str}}';
        document.querySelector('#dex-proficiency').value = '{{sheet.saves.dex}}';
        document.querySelector('#con-proficiency').value = '{{sheet.saves.con}}';
        document.querySelector('#int-proficiency').value = '{{sheet.saves.int}}';
        document.querySelector('#wis-proficiency').value = '{{sheet.saves.wis}}';
        document.querySelector('#cha-proficiency').value = '{{sheet.saves.cha}}';

        // Skill Proficiencies
        document.querySelector('#acrobatics').value = '{{sheet.skills.acrobatics}}';
        document.querySelector('#animal-handling').value = '{{sheet.skills.animalHandling}}';
        document.querySelector('#arcana').value = '{{sheet.skills.arcana}}';
        document.querySelector('#athletics').value = '{{sheet.skills.athletics}}';
        document.querySelector('#deception').value = '{{sheet.skills.deception}}';
        document.querySelector('#history').value = '{{sheet.skills.history}}';
        document.querySelector('#insight').value = '{{sheet.skills.insight}}';
        document.querySelector('#intimidation').value = '{{sheet.skills.intimidation}}';
        document.querySelector('#investigation').value = '{{sheet.skills.investigation}}';
        document.querySelector('#medicine').value = '{{sheet.skills.medicine}}';
        document.querySelector('#nature').value = '{{sheet.skills.nature}}';
        document.querySelector('#perception').value = '{{sheet.skills.perception}}';
        document.querySelector('#performance').value = '{{sheet.skills.performance}}';
        document.querySelector('#persuasion').value = '{{sheet.skills.persuasion}}';
        document.querySelector('#religion').value = '{{sheet.skills.religion}}';
        document.querySelector('#sleight-of-hand').value = '{{sheet.skills.sleightOfHand}}';
        document.querySelector('#stealth').value = '{{sheet.skills.stealth}}';
        document.querySelector('#survival').value = '{{sheet.skills.survival}}';
    }

    window.addEventListener('DOMContentLoaded', function () {
        updateModifiers();
        updateCheckBoxes();
        updateSelects();
        updateProficiencyBonus(document.querySelector('#level'));
        updateSavingThrows(document.querySelector('#proficiency-bonus'));
        updateSkillProficiencies(document.querySelector('#proficiency-bonus'));

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                if (user.uid !== '{{sheet.user}}') {
                    disableAllInputs();
                } else {
                    watchForChanges();
                }
            } else {
                disableAllInputs();
            }
        });
    });
</script>
<br><br>
<div id="sheet-container">
    <form class="sheet" method="post" action="{{sheet.slug}}">
        <div class="page">
            <input type="submit" value="Save">
            <input type="hidden" class="" id="user" name="user" value="{{sheet.user}}">
            <table id="basic-info" cellspacing="0">
                <tbody>
                <tr>
                    <td colspan="2" rowspan="2">
                        <label><input type="text" id="name" name="name" value="{{sheet.name}}">
                            <br>Character Name</label>
                    </td>
                    <td>
                        <label><input type="text" id="player" name="player" value="{{sheet.player}}">
                            <br>Player</label>
                    </td>
                    <td>
                        <label><input type="text" id="class" name="class" value="{{sheet.class}}">
                            <br>Class</label>
                    </td>
                    <td>
                        <label><input type="number" id="level" name="level" value="{{sheet.level}}">
                            <br>Level</label>
                    </td>
                    <td>
                        <label><input type="number" id="exp" name="exp" value="{{sheet.exp}}">
                            <br>Experience</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><input type="text" id="race" name="race" value="{{sheet.race}}">
                            <br>Race</label>
                    </td>
                    <td>
                        <label><input type="text" id="subrace" name="subrace" value="{{sheet.subrace}}">
                            <br>Subrace</label>
                    </td>
                    <td>
                        <label><input type="text" id="background" name="background" value="{{sheet.background}}">
                            <br>Background</label>
                    </td>
                    <td>
                        <label><input type="text" id="alignment" name="alignment" value="{{sheet.alignment}}">
                            <br>Alignment</label>
                </tr>
                </tbody>
            </table>

            <div id="ability-scores">
                <table>
                    <tbody>
                    <tr>
                        <td class="ability-scores">
                            <label>STRENGTH<input type="number" class="ability-score" name="str" id="str"
                                                  value="{{sheet.abilityScores.str}}"></label>
                            <p id="str-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>DEXTERITY<input type="number" class="ability-score" name="dex" id="dex"
                                                   value="{{sheet.abilityScores.dex}}"></label>
                            <p id="dex-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>CONSTITUTION<input type="number" class="ability-score" name="con" id="con"
                                                      value="{{sheet.abilityScores.con}}"></label>
                            <p id="con-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>INTELLIGENCE<input type="number" class="ability-score" name="int" id="int"
                                                      value="{{sheet.abilityScores.int}}"></label>
                            <p id="int-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>WISDOM<input type="number" class="ability-score" name="wis" id="wis"
                                                value="{{sheet.abilityScores.wis}}"></label>
                            <p id="wis-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>CHARISMA<input type="number" class="ability-score" name="cha" id="cha"
                                                  value="{{sheet.abilityScores.cha}}"></label>
                            <p id="cha-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="skills">
                <table>
                    <tbody>
                    <tr>
                        <td class="skills">
                            SKILLS
                        </td>
                    </tr>
                    <tr>
                        <td id="inspiration">
                            <label id="inspiration-label">Inspiration:
                                <input type="checkbox" name="inspiration" id="inspiration"
                                       value="{{sheet.inspiration}}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td id="proficiency-td">
                            <div id="proficiency">
                                <p class="proficiency-bonus">Proficiency Bonus: </p>
                                <p id="proficiency-bonus" class="proficiency-bonus">+0</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="skills">
                            <div id="saving-throws">
                                <p id="saving-throw-text">Saving Throws</p>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="str-proficiency" name="strSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Strength: </label>
                                    <p class="saving-throw-proficiency" id="str-proficiency-bonus">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="dex-proficiency" name="dexSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Dexterity: </label>
                                    <p class="saving-throw-proficiency" id="dex-proficiency-bonus">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="con-proficiency" name="conSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Constitution: </label>
                                    <p class="saving-throw-proficiency" id="con-proficiency-bonus">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="int-proficiency" name="intSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Intelligence: </label>
                                    <p class="saving-throw-proficiency" id="int-proficiency-bonus">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="wis-proficiency" name="wisSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Wisdom: </label>
                                    <p class="saving-throw-proficiency" id="wis-proficiency-bonus">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="saving-throw-proficiency">
                                        <select class="proficiency-select" id="cha-proficiency" name="chaSave">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Charisma: </label>
                                    <p class="saving-throw-proficiency" id="cha-proficiency-bonus">+0</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="skill-proficiencies">
                                <p id="saving-throw-text">Skill Proficiencies</p>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="acrobatics" name="acrobatics">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Acrobatics (Dex)</label>
                                    <p class="skill-proficiency" id="acrobatics-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="animal-handling" name="animalHandling">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Animal Handling (Wis)</label>
                                    <p class="skill-proficiency" id="animal-handling-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="arcana" name="arcana">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Arcana (Int)</label>
                                    <p class="skill-proficiency" id="arcana-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="athletics" name="athletics">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Athletics (Str)</label>
                                    <p class="skill-proficiency" id="athletics-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="deception-select" id="deception" name="deception">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Deception (Cha)</label>
                                    <p class="skill-proficiency" id="deception-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="history" name="history">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>History (Int)</label>
                                    <p class="skill-proficiency" id="history-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="insight" name="insight">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Insight (Wis)</label>
                                    <p class="skill-proficiency" id="insight-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="intimidation" name="intimidation">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Intimidation (Cha)</label>
                                    <p class="skill-proficiency" id="intimidation-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="investigation" name="investigation">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Investigation (Int)</label>
                                    <p class="skill-proficiency" id="investigation-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="medicine" name="medicine">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Medicine (Wis)</label>
                                    <p class="skill-proficiency" id="medicine-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="nature" name="nature">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Nature (Int)</label>
                                    <p class="skill-proficiency" id="nature-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="perception" name="perception">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Perception (Wis)</label>
                                    <p class="skill-proficiency" id="perception-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="performance" name="performance">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Performance (Cha)</label>
                                    <p class="skill-proficiency" id="performance-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="persuasion" name="persuasion">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Persuasion (Cha)</label>
                                    <p class="skill-proficiency" id="persuasion-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="religion" name="religion">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Religion (Int)</label>
                                    <p class="skill-proficiency" id="religion-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="sleight-of-hand" name="sleightOfHand">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Sleight of Hand (Dex)</label>
                                    <p class="skill-proficiency" id="sleight-of-hand-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="stealth" name="stealth">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Stealth (Dex)</label>
                                    <p class="skill-proficiency" id="stealth-proficiency">+0</p>
                                </div>
                                <div class="saving-throw">
                                    <label class="skill-proficiency">
                                        <select class="proficiency-select" id="survival" name="survival">
                                            <option value="none"></option>
                                            <option value="proficient">Proficient</option>
                                            <option value="expertise">Expertise</option>
                                        </select>Survival (Wis)</label>
                                    <p class="skill-proficiency" id="survival-proficiency">+0</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <label><input type="text" class="" id="faction" name="faction" value="{{sheet.faction}}">
                <br>Faction</label>

        </div>

        <!--
        <label><input type="text" class="" name="" id="" value=""></label>
                    <td>
                        <label><input type="text" class="" id="faction" name="faction" value="{{sheet.faction}}">
                            <br>Faction</label>
                    </td>

                    <td class="filler">
                        <label><input type="text"></label>
                    </td>
        !-->
    </form>
</div>
</html>