<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/sheet.css">
    <title>{{sheet.name}} - Level {{sheet.level}} {{sheet.class}} -- D&D Sheet on the Dragon's Hoard</title>
</head>
<!--<p> This will be another form at some point later that live-saves your sheet information into each field! In the
    meantime, you have the following to look at!</p>!-->

<script type="text/javascript">
    // Used to convert ability score number to their modifiers
    function convertScoreToMod(abilityScore) {
        return Math.floor((abilityScore - 10) / 2);
    }

    function convertLevelToProficiencyBonus(level) {
        return 1 + Math.ceil((level) / 4);
    }

    function updateAbilityModifier(abilityScore) {
        const score = abilityScore.value;
        if (!isNaN(score)) {
            const abilityMod = document.querySelector('#' + abilityScore.id + '-modifier');
            const modifier = convertScoreToMod(score);
            abilityMod.textContent = (modifier > 0) ? '+' + modifier : '' + modifier;
        }
    }

    function updateCheckBoxes() {
        const inspiration = document.querySelector('#inspiration');
        if (inspiration.value === 'true') {
            inspiration.setAttribute('checked', 'checked');
        } else {
            inspiration.removeAttribute('checked');
        }
    }

    function updateProficiencies(level) {
        const bonus = document.querySelector('#proficiency-bonus');
        if(!isNaN(level.value)) {
            const proficiencyBonus = convertLevelToProficiencyBonus(level.value);
            bonus.textContent = '+' + proficiencyBonus;
        }
    }

    function updateModifiers() {
        const abilityScores = document.getElementsByClassName('ability-score');
        for (let i = 0; i < abilityScores.length; i++) {
            updateAbilityModifier(abilityScores[i]);
        }
    }

    // Update the modifiers whenever the ability score changes.
    function abilityScoreListener(HTMLObject) {
        HTMLObject.addEventListener('input', function () {
            updateAbilityModifier(this);
        });
    }

    function proficiencyBonusListener(HTMLObject) {
        HTMLObject.addEventListener('input', function() {
            updateProficiencies(this);
        })

    }

    // Setup all javascript helper functions.
    function setupHelpers() {
        const abilityScores = document.getElementsByClassName('ability-score');
        for (let i = 0; i < abilityScores.length; i++) {
            abilityScoreListener(abilityScores[i]);
        }
        const level = document.querySelector('#level');
        proficiencyBonusListener(level);
    }

    function disableAllInputs() {
        const inputs = document.getElementsByTagName('input');
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }
    }

    function watchForChanges() {
        // Highlight Changes Made to any input
        const inputs = document.getElementsByTagName('input');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].type !== 'submit') {
                inputs[i].addEventListener('input', function () {
                    this.style.backgroundColor = 'beige';
                });
            }
        }
        setupHelpers();
    }

    window.addEventListener('DOMContentLoaded', function () {
        updateModifiers();
        updateCheckBoxes();
        updateProficiencies(document.querySelector('#level'));

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                if (user.uid !== '{{sheet.user}}') {
                    disableAllInputs();
                } else {
                    watchForChanges();
                }
            } else {
                disableAllInputs();
            }
        });
    });
</script>
<br><br>
<div id="sheet-container">
    <form class="sheet" method="post" action="{{sheet.slug}}">
        <div class="page">
            <input type="submit" value="Save">
            <input type="hidden" class="" id="user" name="user" value="{{sheet.user}}">
            <table id="basic-info" cellspacing="0">
                <tbody>
                <tr>
                    <td colspan="2" rowspan="2">
                        <label><input type="text" id="name" name="name" value="{{sheet.name}}">
                            <br>Character Name</label>
                    </td>
                    <td>
                        <label><input type="text" id="player" name="player" value="{{sheet.player}}">
                            <br>Player</label>
                    </td>
                    <td>
                        <label><input type="text" id="class" name="class" value="{{sheet.class}}">
                            <br>Class</label>
                    </td>
                    <td>
                        <label><input type="number" id="level" name="level" value="{{sheet.level}}">
                            <br>Level</label>
                    </td>
                    <td>
                        <label><input type="number" id="exp" name="exp" value="{{sheet.exp}}">
                            <br>Experience</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><input type="text" id="race" name="race" value="{{sheet.race}}">
                            <br>Race</label>
                    </td>
                    <td>
                        <label><input type="text" id="subrace" name="subrace" value="{{sheet.subrace}}">
                            <br>Subrace</label>
                    </td>
                    <td>
                        <label><input type="text" id="background" name="background" value="{{sheet.background}}">
                            <br>Background</label>
                    </td>
                    <td>
                        <label><input type="text" id="alignment" name="alignment" value="{{sheet.alignment}}">
                            <br>Alignment</label>
                </tr>
                </tbody>
            </table>

            <div id="ability-scores">
                <table>
                    <tbody>
                    <tr>
                        <td class="ability-scores">
                            <label>STRENGTH<input type="number" class="ability-score" name="str" id="strength"
                                                  value="{{sheet.abilityScores.str}}"></label>
                            <p id="strength-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>DEXTERITY<input type="number" class="ability-score" name="dex" id="dexterity"
                                                   value="{{sheet.abilityScores.dex}}"></label>
                            <p id="dexterity-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>CONSTITUTION<input type="number" class="ability-score" name="con" id="constitution"
                                                      value="{{sheet.abilityScores.con}}"></label>
                            <p id="constitution-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>INTELLIGENCE<input type="number" class="ability-score" name="int" id="intelligence"
                                                      value="{{sheet.abilityScores.int}}"></label>
                            <p id="intelligence-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>WISDOM<input type="number" class="ability-score" name="wis" id="wisdom"
                                                value="{{sheet.abilityScores.wis}}"></label>
                            <p id="wisdom-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ability-scores">
                            <label>CHARISMA<input type="number" class="ability-score" name="cha" id="charisma"
                                                  value="{{sheet.abilityScores.cha}}"></label>
                            <p id="charisma-modifier" class="ability-modifier">0</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="skills">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label id="inspiration-label"><input type="checkbox" name="inspiration" id="inspiration"
                                                                 value="{{sheet.inspiration}}">Inspiration</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="proficiency">
                                <p class="proficiency-bonus">Proficiency Bonus: </p>
                                <p id="proficiency-bonus" class="proficiency-bonus">+0</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <label><input type="text" class="" id="faction" name="faction" value="{{sheet.faction}}">
                <br>Faction</label>

        </div>

        <!--
        <label><input type="text" class="" name="" id="" value=""></label>
                    <td>
                        <label><input type="text" class="" id="faction" name="faction" value="{{sheet.faction}}">
                            <br>Faction</label>
                    </td>

                    <td class="filler">
                        <label><input type="text"></label>
                    </td>
        !-->
    </form>
</div>
</html>